*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.margin-debug {
  border: 1px solid #ddd;
  position: absolute;
}
.deadline-debug {
  position: absolute;
  width: 2px;
  background: red;
}
svg {
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}