.logo {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.changelog {
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}
.changelog .changelog__chip {
  cursor: pointer;
}
.footer {
  margin-top: auto;
  padding: 25px;
}